@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@font-face {font-family: "Copperplate Gothic Bold"; src: url("//db.onlinewebfonts.com/t/e3062d8da98d4c90af3ad8613ca226e7.eot"); src: url("//db.onlinewebfonts.com/t/e3062d8da98d4c90af3ad8613ca226e7.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/e3062d8da98d4c90af3ad8613ca226e7.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/e3062d8da98d4c90af3ad8613ca226e7.woff") format("woff"), url("//db.onlinewebfonts.com/t/e3062d8da98d4c90af3ad8613ca226e7.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/e3062d8da98d4c90af3ad8613ca226e7.svg#Copperplate Gothic Bold") format("svg"); }



html,body{
    font-family: 'Nunito', sans-serif;
    margin:0;
    padding:0;
}
/*HEADER LABEL COLOR*/
header.mheader h1, header.mheader a,.hdropdown-desktop,.hdropdown{
    color: rgb(107 114 128);
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header .mheader h1{
    font-family: "Copperplate Gothic Bold";
}
.hm span{
    width:20px;
}
.hm{
    padding-top:10px;
    padding-bottom:10px;
    padding-left:14px;
    padding-right:14px;
}
.caret-up{
    transform:rotate(180deg);
}
.caret-down{
    transform:rotate(0deg);
} 
.hd-content,.hdcontent-desktop{
    z-index: 1;
}
.hm-content{
    display: block;
    position: relative;
    top: -70px;
}
.hdcontent-desktop{
    width: calc(100% + 30px);
    padding: 0px;
    right: 0;
        li:last-child{
            margin-bottom:0;
        }
}
.hdcontent-mobile > *,.hdcontent-mobile{
    text-align: center;
}
.hdropdown-desktop:hover .subNav{
    display:block;
}
.label-color{
    font-weight: normal;
}
/* end of header*/

/*event calendar section */
.event-calendar-container{
        background-color: #065f46;
        @media(max-width:876px){
            flex-direction:column;
            .col-event{
                width:100%;
            }

            .col-event-calendar .table-calendar .table-content .content-table p.day_block{
                width:13vw;
            }
        }
        @media(max-width:500px){
            .col-event-calendar .table-calendar .table-content .content-table p.day_block{
                height:55px;
                font-size:12px;
            }  
            .table-calendar .table-content .content-table{
                padding:10px !important;
            }
        }
    .evt-content{
        max-width:calc(334px * 3);
        // margin:50px auto;
        justify-content: center;
    }
    .box-evt{
        width:calc((100%  / 3) - 1.875rem );
        @media(max-width:500px){
            width:calc((100% / 2) - 28px);
        }
        height:180px;
        display:flex;
        justify-content:center;
        align-items: center;
        border-radius: 12px;
    }
    .table-calendar{
        .table-content{
            .content-table{
                margin-top:10px;
                padding:25px;
                border:1px solid #d5d5d5;
                  p.day_block{
                        border: 1px solid #d5d5d5;
                        height: 76px;
                        max-width: 100px;
                        width: 5vw;
                        padding-top:4px;
                        padding-left:4px;                        
                    }
                ._table{

                    .calendar-row{
                        display:flex;
                        align-items:center;
                        justify-content: center;
                    }
                    .calendar-header p.day_block{
                        align-items: center;
                        padding:0;
                        display:flex;
                        justify-content: center;
                    }
                }
            }
        }
    }
}
h3.coa{
    font-size:32px;
}
i.fa-thumbtack{
font-size:21px;
}
h3.month-year{
    font-size:21px;
}
.sy{
    font-size:26px;
}
.calendar-row p.day_block{
    text-align: left;
}

.col-event-calendar{
    @media(max-width:1540px){
        width:60%;
        .table-calendar .table-content .content-table p.day_block{
            width:7vw;
        }

    }
}
/* end of event calendar section */

/*news section */
.container-news{
    @media(max-width:768px){
        flex-direction:column;       
    }
    .col-news{
        @media(max-width:768px){
           width:75%;     
        }
        .banner-news{
            img{
                border-top-left-radius: 30px;
                border-top-right-radius: 30px;
            }
        }
        .news-header{
            h2{   
                color: #065f46;
                font-weight: bold;
                font-size: 22px;
                margin: 10px 0px; 
            }
        }
        .news-content{
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
        .news-action{
            align-self:flex-start;
            a{
                background-color: yellow;
                padding: 10px 30px;
                display: block;
                position: relative;
                font-weight: bold;
                border-radius: 10px;
                margin-top: 10px;
            }
            @media(max-width:768px){
                margin:10px 0px;  
              }
        }
    }
}
/* end of news section*/
/*footer section */
footer.footer{
    background-image:url('/storage/assets/lime-green.webp');
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    & > * {
        color:black;
        font-weight:600;
    }
}

#menu-logo {
    @apply md:h-24 object-contain lg:max-h-36;
}

.menu {
    @apply bg-white rounded-b-3xl z-20 w-full absolute;
    transition: all ease-in-out 300ms;
}

.section {
    @apply w-full;
    .sectionInner {
        @apply w-full xl:w-10/12 mx-auto px-4 lg:px-0 py-2;
    }
}

.menuSticky {
    @apply fixed w-full;
}

.menu-links {
    @apply lg:block translate-x-full lg:translate-x-0 bg-white lg:bg-transparent fixed top-0 left-0 h-screen w-screen lg:h-auto lg:w-auto lg:relative flex flex-col items-center justify-center transition-transform ease-in-out duration-300;
    z-index: 40;
    li {
        @apply block lg:inline mr-2 md:mr-5 font-bold uppercase mb-7 lg:mb-0;
        &last-child {
            margin-right: 0;
            margin-bottom: 0;
        }
    }

    .reg-link {
        @apply text-green-800 hover:text-green-600 transition-colors ease-in-out duration-300 cursor-pointer;
    }
}

.menu-btn {
    @apply bg-green-800 hover:bg-green-600 py-2 px-3 text-white hover:text-color1 transition-all ease-in-out duration-300 shadow-md hover:shadow-none shadow-gray-400 rounded-xl uppercase font-bold;
}

#burger-drawer:checked ~ div > .menu-links {
    @apply translate-x-0;
}

#hamburger {
    @apply transition-all ease-in-out duration-300 cursor-pointer;
}

#burger-drawer:checked ~ div > label > #hamburger {
    @apply fixed z-50 -translate-x-14 -translate-y-3;
}

#burger-drawer:checked ~ div > label > #hamburger > div:first-child {
    @apply rotate-45 inset-0 transform absolute;
}
#burger-drawer:checked ~ div > label > #hamburger > div:nth-child(2) {
    @apply -rotate-45 inset-0 transform absolute;
}
#burger-drawer:checked ~ div > label > #hamburger > div:last-child {
    @apply hidden;
}

#burger-drawer:checked ~ #top-logo {
    @apply scale-100 absolute z-50 top-0 left-0 w-screen;
}

.hero-slider {
    height: 60vh;
}
.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #bdbdbd;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot--active {
  @apply bg-green-700;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
  fill: "#fff";
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' %3E%3Cpath d='M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z' %3E%3C/path%3E%3C/svg%3E");
}

.arrow--right {
  left: auto;
  right: 5px;
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 24 24' %3E%3Cpath d='M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z'%3E%3C/path%3E%3C/svg%3E");
}

.arrow--disabled.arrow--left {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 24 24' %3E%3Cpath d='M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z' %3E%3C/path%3E%3C/svg%3E");
}

.arrow--disabled.arrow--right {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 24 24' %3E%3Cpath d='M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z'%3E%3C/path%3E%3C/svg%3E");
}

.org-img {
    @apply mb-0 flex items-center justify-center opacity-70 hover:opacity-100 transition-opacity ease-in-out duration-300;

    img {
        @apply w-8/12 md:w-auto md:h-10;
    }

    img.bodyimg {
        @apply w-5/12 md:w-8/12 h-auto mb-5 md:mb-0;
    }
}

.child-menu {
    @apply inline;
    div {
        @apply block md:inline md:mr-5 md:mb-0 mr-0 mb-5;
        &:last-child {
            @apply mr-0 mb-0;
        }
    }
}

.footer-header {
    @apply text-lg font-bold text-gray-700 mb-3 uppercase;
}

.modal-show {
    background-color: #00000090;
    @apply opacity-100 z-50;
}

.modal-window-show {
    @apply scale-100;
}

body.modal-open {
    overflow-y: hidden;
}

.ff-cgb {
    font-family: 'Copperplate Gothic Bold', Courier, monospace !important;
}

.mobile-menu {
    > div {
        @apply mb-7 uppercase;
    }
    .mobile-submenu {
        > a {
            @apply uppercase;
        }
        .mobile-submenu-content {
            @apply ml-12;
        }
    }
}
.nav-menu {
    @apply text-center hidden md:block;
    > div {
        @apply inline relative px-8 z-10;
        > a {
            @apply text-green-800 hover:text-green-600 transition-all ease-in-out duration-300 cursor-pointer;
        }
    }
    > div:last-child {
        padding-right: 0px !important;
    }
    .dropdown-menu {
        @apply relative inline overflow-hidden z-10;
        .dropdown-content {
            @apply hidden border border-gray-200 absolute rounded-lg top-full left-0 bg-white shadow-lg py-2;
            z-index: 99999 !important;
            a {
                @apply py-2 px-2 text-gray-600 hover:text-white hover:bg-gray-400 transition-all ease-in-out duration-200 cursor-pointer;
            }
        }

        &:hover .dropdown-content {
            @apply block;
        }
    }
}

.page-h1 {
    @apply text-2xl font-bold text-gray-800;
}

.page-h2 {
    @apply text-xl font-bold text-gray-800;
}
