@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

.files{
    display:none;
}
.col-img{
    width:47%;
}
#image_flag{
    width: 50%;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom:0.8rem;
}
.check{
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
.check:checked {
    background-color: lime;
}
