@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

.files{
    display:none;
}
.col-img{
    width:47%;
}
#image_flag{
    width: 50%;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;   
    margin-bottom:0.8rem;
    margin-top:0.8rem;
    text-align: left;
}
